:root{

   
    --theme-gradient-red-orange: 90deg, rgba(252,32,32,1) 0%, rgba(255,162,56,1) 100%;

    --background-color-whitest: rgba(252,252,252,1);
    --background-color-whiter: rgba(248,248,248,1);
    --background-color-white: rgba(242,242,242,1);
    
    --padding-top: .66666667rem;
    --padding-left: .95rem;
    --padding-top-halfed: calc(var(--padding-top)/2.5);
    --padding-left-halfed:  calc(var(--padding-left)/2);
    --margin-top: var(--padding-top);
    --margin-left: var(--padding-left);

    --padding: var(--padding-top) var(--padding-left);
    --text-dark: rgba(0, 0, 0,.81);
    --text-almost-dark: rgba(49, 49, 49, 0.7);
    --font-size-reduced: .666666rem;  
    --gap: var(--padding-top);
    --border-radius: .24rem;
    --border-width: 2px;
    --border-color: currentColor;

    --border:  1px solid rgba(221,221,221,1);
    --background-color: var(--background-color-whitest);
    --background-color-highlight: var(--background-color-white); 


    --table-head-background-color: var(--background-color-whitest);
    --table-background-color: var(--background-color-whitest);
    --table-body-alternating-color: var(--background-color-white);
    
    --table-border: var(--border);
    --table-data-padding: 5px;
    --table-margin: var(--padding-top-halfed)  ;
    /* --table-head-background-color: green; */ 

    --accent-color: rgb(255, 229, 164);
    --primary-color:  #5a80fc;

    
    --theme-gradient-primary: var(--theme-gradient-red-orange);

    /* css mixin
    https://medium.com/@adrjohnston/native-css-mixins-ee2a50e07b54
    use 'apply'
    */
}



html{
    color: var(--text-almost-dark) !important;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif
}

.icon{
    font-size: .85rem;
}

.parent-container{
    background-color: rgba(241,241,246,.8);
    box-shadow: 0px 2px 5px rgba(0, 0, 0,.1);
    width: 100%;
}

.component-container{
    width: 100%;
}

.component-container.component-container-grid{
    grid-area: "left right";
}

.component-container .component-container-left-section{
    grid-area: left;
    width: 50%;
    word-wrap: break-word;
}

.component-container .component-container-left-section{
    grid-area: right;
    width: 50%;
    word-wrap: break-word;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--text-almost-dark);
}


.navbar{
    display: grid;
    grid-template-areas: "left" "right";
}


.navbar .navbar-left{
    grid-area: left;
    /* background-color: royalblue; */
    display: flex;
}

.navbar .navbar-right{
    grid-area: right;
    /* background-color: orange; */
    display: flex;
}

.navbar .navbar-link{
    padding: var(--padding);
    font-weight: 500;
}


.form{
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--background-color);
    border: var(--border);
}

.form .form-title{
    font-size: 1.5rem;
    margin-top: var(--padding-top);
}

.form .form-details{
    margin-bottom: var(--padding-top);
}


.form .form-label{
    font-weight: 500;
    font-size: small;
    margin-top: var(--margin-top);
}

.form-error{
    color: rgb(226, 119, 119);
    font-size: small;
    margin: var(--margin-top) 0;
}

.form-submit{
    margin-top: var(--margin-top);
}


.button,
button,
input{
    padding: var(--padding);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    border: var(--border);
    height: fit-content;
    /* border: none; */
    /* border-width: var(--border-width); */
    /* border-color: var(--border-color); */
}


input[type="submit"],
.button{
    padding: var(--padding);
    background-color: var(--primary-color);
    /* color: var(--background-color-white); */
    /* by defualt anchor tags cant have padding... so to fix this, you 
    need to change the display into inline-block or block */
    display:inline-block;
}

textarea{
    padding: var(--padding);
}


.show-warning{
    display: none;
    background-color: orange;
}


/* table */

table {
    margin: var(--table-margin);
    border: var(--table-border);
    width: 100%;
    /* border-radius: var(--border-radius); */

    /* remvoe the spaceing between cells */
    border-collapse: collapse;
    border-spacing: 0;

    background-color: var(--table-background-color);
}

thead{
    font-weight: 500;
    background-color: var(--table-head-background-color);
}

th{
    font-weight: 700;
}

td,th{
    text-align: left;
    /* padding: var(--table-data-padding); */
    border: var(--table-border);
    padding: var(--padding);
    flex-grow: 1;    
    box-sizing: border-box;
}


tr{
    background-color: transparent;
    /* background-color: rgb(236, 236, 236); */
}

tbody tr:nth-child(odd){
    background-color: var(--table-body-alternating-color);
}

footer{
    display: flex;
    flex-direction: column;
    padding: var(--padding);

}

footer ul{
    display: block;
    flex-grow: 1;
}

.root-content{
    display: block;
}


a{
    /* height: max-content; */
}


.text-giant-title-max{
    /* margin: 1ch 0; */
    text-align: center;
    font-size: 5rem;
    width: 15ch;
    word-wrap: break-word;
    /* white-space: nospaces; */
    text-align: center;
    align-self: center;
    margin-top: 1ch;
}

.text-giant-button{
    font-size: 1.25rem;
    width: fit-content;
    padding: .75rem 3rem;
    margin: 1ch 0;
    align-self: center;
}

.text-giant-title{
    margin-top: 2rem;
    font-size: 3rem;
    word-wrap: break-word;
    /* white-space: nospaces; */
    align-self: center;
    text-align: center;
}

.text-giant-subtitle{
    font-size: 1.25rem;
    margin-bottom: 2rem;
    word-wrap: break-word;
    /* white-space: nospaces; */
    align-self: center;
    text-align: center;
}

.text-giant-panel{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 5rem;
}

.text-giant-panel.text-giant-panel-plain{
    background-color: gainsboro;
}


.text-hero{
    font-size: 4rem;
    width: 10ch;
    align-self: center;
}

.text-hero-subtitle{
    font-size: 2.5rem;
    width: 10ch;
    align-self: center;
}

.text-title{
    font-size: 2rem;
}

.text-subtitle{
    font-size: 1.5rem;
}

.text-notification{
    font-size: 1.25rem;
}

.button.button-primary,
button.button-primary{
    background-color: var(--primary-color);
    color: var(--text-almost-dark);
}

button.button-plain,
.button.button-plain{
    background-color: transparent;
}

.button-group{
    display: flex;
}


.button-group >*:first-child{
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.button-group >*{
    border-radius: 0;
    border-color: rgba(212,212,212,.95);
}

.button-group >*:last-child{
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}


/* list with direct child component */
.breadcrumb{
    display: flex;
    flex-direction: column;
    gap: var(--padding-top);
    margin: var(--padding-top) 0;
}

.breadcrumb > .breadcrumb-info ,
.breadcrumb > .breadcrumb-actions  {
    display: flex;
    flex-direction: column;
    gap: var(--padding-top);
}

.breadcrumb > .breadcrumb-info > *,
.breadcrumb > .breadcrumb-actions > * {
    display: flex;
    flex-direction: row;
    gap: var(--padding-top);
    align-items: center;
}

.checkbox-container{
    display: grid;
    grid-template-areas: "checkbox label";
    grid-template-columns: 1fr 1fr;
    gap: var(--padding-left);
    margin-top: var(--padding-top);
}

.checkbox-container .checkbox-container-checkbox{
    grid-area: checkbox;
}

.checkbox-container .checkbox-container-label{
    grid-area: label;
    flex-grow: 1;
}

h1,h2,h3,h4,h5,h6{
    margin: 1ch 0;
}

.tag{
    border-radius: var(--border-radius);
    background-color: var(--accent-color);
    /* font-size: small; */
    padding: var(--padding);
    padding: var(--padding-top-halfed) var(--padding-left);
    /* width: fit-content; */
    font-size: small;
    color: var(--text-almost-dark);
	transform: skew(-9deg);
    font-weight: 700;
}

.tag.tag-primary{
    background-color: var(--primary-color);
}
